.treeWrapper {
  position: relative;
  overflow: visible; 
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: auto; 
}

.treeContainer {
  overflow: auto;     
  max-height: 80vh;  
  position: relative;
  width: 100%;
}

.innerZoomContainer {
  display: inline-block;
  min-width: 1000px;
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .innerZoomContainer {
    min-width: 600px;
  }

  .treeContainer {
    max-height: 60vh;
  }
}
