.treeWrapper {
  position: relative;
  overflow: auto;
  height: auto;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* 트리 그래프 컨테이너 */
.treeContainer {
  position: relative;
}

/* 모바일 대응 */
@media (max-width: 600px) {
  .treeWrapper {
    height: 500px;
    overflow: auto;
  }
}
